<%- include('../partials/header') %>
<section class="light-grey padded" style="min-height: 100vh;">
<div class="container box">
    <div class="error">
        <h1><span class="fa fa-exclamation-circle"></span><%= statusCode %>: <%= errorMessage %></h1>
    </div>
</div>
</section>
<%- include('../partials/footer') %>