<!-- views/pages/auth.ejs -->
<section class="content-block white">
  <h1 style="text-align: center;">Your Privacy</h1>
  <h1>Data we collect about you and your project</h1>
  <div class="infobox">
    <h2>Your Account</h2>
    <p>In order to use this tool, you must hold a valid account with the Open Data Institute. You can register for a new account <a href="https://theodi.org/account/register/" target="_blank">here</a>.</p>
    <p>Upon logging in, this tool collects the following data about you:</p>
    <ul>
      <li>Name (first name and last name)</li>
      <li>Email</li>
      <li>Time and date of login</li>
    </ul>
    <h2>Project Data</h2>
    <p>All the data you create is stored in a cloud database. System maintainers have access to the database for administration. Reading and extracting data for purposes other than ensuring the system is online and functioning is strictly prohibited.</p>
    <p>In addition to what you see on the screen, each project has the following data associated with it:</p>
    <ul>
      <li>Project owner (ID)</li>
      <li>User IDs for users the project is shared with</li>
      <li>Last modified date</li>
    </ul>
    <h2>Interactions Data</h2>
    <p>The system sends an "interaction message" to the ODI Customer Relationship Management (CRM) system (HubSpot) each time you do any of the following:</p>
    <ul>
      <li>Login</li>
      <li>Start an assessment</li>
      <li>Complete an assessment</li>
      <li>Delete an account or assessment(s)</li>
    </ul>
    <p>This data is shared so the ODI can monitor:</p>
    <ul>
      <li>Number of active users (last login, number of times logged in)</li>
      <li>Number of assessments in progress</li>
      <li>Number of completed assessments</li>
    </ul>
    <p>This data helps us measure the popularity of the system and make the case for additional development and funding.</p>
    <p>This data is stored against your record in the CRM system and can be managed alongside your account via the Open Data Institute website.</p>
  </div>
  <h1>Exercising your rights over data about you and projects</h1>
  <div class="infobox">
    <h2>User Data</h2>
    <p>The system stores very little user data. Access to user data is not necessary as it will only tell you your own name and email.</p>
    <p>If you wish to delete your account, you can do this from the <a href="/profile">profile</a> page.</p>
    <p><b>Note:</b> This does not delete your ODI account, just the associated record in this system. We do not archive the account, it is deleted, and we do not store a record of this operation.</p>
    <h2>Project Data</h2>
    <p>All project data can be downloaded from within the system as JSON, which is the format it is stored in, so there is very little difference between this and the stored data. The main difference is that we remove the IDs of users your project might be shared with.</p>
    <p>If you delete a project, it is gone. We do not archive; it is deleted there and then. The only place it will exist is within an automated backup.</p>
    <h2>Backups</h2>
    <p>We take backups of the system purely to ensure that in the event of a disaster we can restore the system to a good state. Should this happen, it may be discovered that data has been restored that a user has deleted. This is a rare occurrence, and we will contact users to let them know that a backup has been restored and communicate the impact on saved/restored data.</p>
  </div>
  <h1>Tool hosting, security and data storage</h1>
  <div class="infobox">
    <p>This tool is hosted on a <a href="https://www.digitalocean.com/" target="_blank">Digital Ocean</a> server in the UK which is maintained with the latest security updates.</p>
    <p><a href="https://www.cloudflare.com">Cloudflare</a> is used as the content devlivery platform and to protect against attacks.</p>
    <p>Account data (name, email, time and date of login etc) and project data is stored in <a href="https://www.mongodb.com" target="_blank">MongoDB atlas</a> which is in turn hosted on Microsoft Azure infrastructure located in Ireland. Data is encryted at REST in Azure, so Microsoft/Mongo cannot see the data. System maintainers have access to the database for administration. Reading and extracting data for purposes other than ensuring the system is online and functioning is strictly prohibited.</p>
    <p>The tool is developed in <a href="https://nodejs.org/en" target="_blank">NodeJS</a> and regular valnerability audits are automatically carried out, reported and actioned as necessary.</p>
    <p>The tool integrates with the ODIs website for authenticate and HubSpot for statistics reporting, please refer to the ODI <a href="https://theodi.org/our-policies/privacy-policy/" target="_blank">privacy policy</a> for more details.</p>
  </div>
  <h1 id="useOfAI">Use of AI (OpenAI ChatGPT)</h1>
  <div class="infobox">
    <p>The tool makes use of generative AI to produce human readable summaries of maturity at each level withing each dimension and activity.</p>
    <p>The following data is shared with the AI:</p>
    <ul>
      <li>The asessment questions.</li>
      <li>Your answers to questions (true or false).</li>
      <li>The calculated level you achieve with the answers.</li>
    </ul>
    <p>The following data is not shared with the AI:</p>
    <ul>
      <li>Any notes you add alongside questions.</li>
      <li>Your assessment metadata (title, organisation, notes, last modified etc).</li>
      <li>User profile data (name, email etc).</li>
    </ul>
  </div>
  <h1 id="contact">Contact Us</h1>
  <div class="infobox">
    <h2>For Bugs and Issues</h2>
    <p>Please use <a href="https://github.com/theodi/maturity.theodi.org/issues" target="_blank">GitHub issues</a> to raise an issue with functionality, etc.</p>
    <h2>Everything Else</h2>
    <p><a href="https://theodi.org/about-the-odi/contact-us/" target="_blank">Contact us</a></p>
  </div>
</section>