<%- include('../partials/header') %>
<section class="content-block light-grey home-top">
    <input type="hidden" value="<%= page.link %>" id="pageId"/>
    <div>
        <h1>Welcome to the ODI Labs Learning Record Store (LRS)</h1>
        <p>An XAPI Learning Record Store (LRS) is a specialized database that securely collects, stores, and organises learning activity data from various online and offline sources. It tracks all kinds of learning experiences, whether it's completing a course, participating in a workshop, or even informal learning activities like reading an article or watching a tutorial.</p>
        <p>This data allows you to see a detailed view of learning progress, understand patterns, and measure the impact of training and educational initiatives across your organisation. With an LRS, you gain insights that help tailor learning experiences, improve performance, and make informed decisions based on reliable learning records—all in one place.</p>
        <h2>Features of the ODI LRS</h2>
        <p>THe ODI LRS provides the following key features</p>
        <ul>
        <li>Create and manage client keys/secrets for integration with XAPI resources.</li>
        <li>Collect state and statements, with the former being read/write and the later write only.</li>
        <li>View insights on dashboards</li>
        </ul>
    </div>
</section>

<%- include('../partials/footer') %>
<%- include('../partials/footer-home') %>
